@{
    ViewBag.Title = "About";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: Poppins, sans-serif;
        color: white;
        font-size: 20px;
    }

    h1 {
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h3 {
        color: #5CE1E6;
    }

    p {
        color: white;
        line-height: 1.5;
    }

    .container {
        max-width: 80%;
        margin: 0 auto; 
        text-align: center;
    }

    .border {
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
        margin: 30px;
    }

    span {
        color: #ED3A85;
    }

    .benefits{
        margin-bottom: 40px;
    }
</style>

<div class="container">
    <h1 style="font-size: 40px; text-transform: uppercase; color: white; font-weight: 900;">Witaj w Eventify! 👋 </h1>
    <p style="font-size: 16px;">Jesteśmy dynamiczną platformą, która umożliwia łatwą rezerwację biletów na różnego rodzaju koncerty oraz daje Ci możliwość organizowania i promowania własnych wydarzeń muzycznych. Naszym celem jest zapewnienie Ci niezapomnianych doświadczeń muzycznych i umożliwienie Ci eksploracji szerokiego spektrum artystycznych występów na całym świecie.</p>
    <h2><span>Co możemy dla Ciebie zrobić?</span></h2>
    <div class="benefits">
        <div class="border">
            <h3 style="color: #5CE1E6;">Rezerwacja biletów</h3>
            <p>Eventify oferuje Ci szybki i bezproblemowy sposób rezerwacji biletów na koncerty Twoich ulubionych artystów. Współpracujemy z najważniejszymi organizatorami i artystami, aby zapewnić Ci dostęp do najlepszych miejsc na sali. Nasza intuicyjna platforma umożliwia łatwe wyszukiwanie wydarzeń, porównywanie cen i dokonywanie bezpiecznych transakcji online.</p>
        </div>
        <div class="border">
            <h3 style="color: #5CE1E6;">Tworzenie własnych wydarzeń</h3>
            <p>Jeśli chciałbyś podzielić się swoją pasją muzyczną z innymi, Eventify jest idealnym miejscem, aby stworzyć i promować własne koncerty. Niezależnie od tego, czy jesteś utalentowanym muzykiem, małym zespołem czy doświadczonym organizatorem, nasza platforma zapewnia Ci narzędzia, abyś mógł dotrzeć do szerokiej publiczności i zorganizować niezapomniane wydarzenie. Możesz łatwo utworzyć stronę wydarzenia, sprzedawać bilety, zarządzać listą gości i monitorować wyniki sprzedaży.</p>
        </div>
        <div class="border">
            <h3 style="color: #5CE1E6;">Rejestracja i logowanie</h3>
            <p>Aby cieszyć się pełnymi korzyściami, zachęcamy do rejestracji na Eventify. Możesz utworzyć swoje własne konto, aby mieć dostęp do historii rezerwacji, personalizowanych rekomendacji, ekskluzywnych ofert i wielu innych funkcji. Nasza platforma dba o bezpieczeństwo Twoich danych i zapewnia Ci wygodne logowanie, abyś mógł skupić się na odkrywaniu nowej muzyki i planowaniu niesamowitych wydarzeń.</p>
        </div>
    </div>
    <p>Jesteśmy dumni z naszego zespołu pasjonatów muzyki, którzy pracują codziennie, aby uczynić Eventify najlepszą platformą do rezerwacji biletów na koncerty. Niezależnie od tego, czy jesteś wielkim fanem muzyki rockowej, hip-hopu, muzyki elektronicznej czy klasycznej, Eventify ma dla Ciebie coś specjalnego.</p>
    <p style="font-size: 16px">Dołącz do nas już dziś i przeżyj niezapomniane muzyczne przygody z Eventify!</p>
    <p><span style="font-size: 20px;">Zespół Eventify</span></p>

</div>

