@{
    ViewBag.Title = "About";
}

<<<<<<< HEAD
=======
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
>>>>>>> c2005571059f09513dcdb6316252f66e02f1337d
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: Poppins, sans-serif;
<<<<<<< HEAD
        color: white;
        font-size: 20px;
    }

    h1 {
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h3 {
        color: #5CE1E6;
    }

    p {
        color: white;
        line-height: 1.5;
    }

    .container {
        max-width: 80%;
        margin: 0 auto; 
        text-align: center;
    }

    .border {
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
        margin: 30px;
    }

    span {
        color: #ED3A85;
    }

    .benefits{
        margin-bottom: 40px;
    }
</style>

<div class="container">
    <h1 style="font-size: 40px; text-transform: uppercase; color: white; font-weight: 900;">Witaj w Eventify! 👋 </h1>
    <p style="font-size: 16px;">Jesteśmy dynamiczną platformą, która umożliwia łatwą rezerwację biletów na różnego rodzaju koncerty oraz daje Ci możliwość organizowania i promowania własnych wydarzeń muzycznych. Naszym celem jest zapewnienie Ci niezapomnianych doświadczeń muzycznych i umożliwienie Ci eksploracji szerokiego spektrum artystycznych występów na całym świecie.</p>
    <h2><span>Co możemy dla Ciebie zrobić?</span></h2>
    <div class="benefits">
        <div class="border">
            <h3 style="color: #5CE1E6;">Rezerwacja biletów</h3>
            <p>Eventify oferuje Ci szybki i bezproblemowy sposób rezerwacji biletów na koncerty Twoich ulubionych artystów. Współpracujemy z najważniejszymi organizatorami i artystami, aby zapewnić Ci dostęp do najlepszych miejsc na sali. Nasza intuicyjna platforma umożliwia łatwe wyszukiwanie wydarzeń, porównywanie cen i dokonywanie bezpiecznych transakcji online.</p>
        </div>
        <div class="border">
            <h3 style="color: #5CE1E6;">Tworzenie własnych wydarzeń</h3>
            <p>Jeśli chciałbyś podzielić się swoją pasją muzyczną z innymi, Eventify jest idealnym miejscem, aby stworzyć i promować własne koncerty. Niezależnie od tego, czy jesteś utalentowanym muzykiem, małym zespołem czy doświadczonym organizatorem, nasza platforma zapewnia Ci narzędzia, abyś mógł dotrzeć do szerokiej publiczności i zorganizować niezapomniane wydarzenie. Możesz łatwo utworzyć stronę wydarzenia, sprzedawać bilety, zarządzać listą gości i monitorować wyniki sprzedaży.</p>
        </div>
        <div class="border">
            <h3 style="color: #5CE1E6;">Rejestracja i logowanie</h3>
            <p>Aby cieszyć się pełnymi korzyściami, zachęcamy do rejestracji na Eventify. Możesz utworzyć swoje własne konto, aby mieć dostęp do historii rezerwacji, personalizowanych rekomendacji, ekskluzywnych ofert i wielu innych funkcji. Nasza platforma dba o bezpieczeństwo Twoich danych i zapewnia Ci wygodne logowanie, abyś mógł skupić się na odkrywaniu nowej muzyki i planowaniu niesamowitych wydarzeń.</p>
        </div>
    </div>
    <p>Jesteśmy dumni z naszego zespołu pasjonatów muzyki, którzy pracują codziennie, aby uczynić Eventify najlepszą platformą do rezerwacji biletów na koncerty. Niezależnie od tego, czy jesteś wielkim fanem muzyki rockowej, hip-hopu, muzyki elektronicznej czy klasycznej, Eventify ma dla Ciebie coś specjalnego.</p>
    <p style="font-size: 16px">Dołącz do nas już dziś i przeżyj niezapomniane muzyczne przygody z Eventify!</p>
    <p><span style="font-size: 20px;">Zespół Eventify</span></p>

</div>

=======
        background-color: #0B001A;
        color: white;
    }

    h1{
        font-weight: 900;
        font-size: 65px;
        text-align: center;
    }
    h2 {
        margin:20px 0;
        font-weight: 900;
        font-size: 40px;
    }
    p{
        font-size:20px;
    }
    .contact-section {
        text-align: center;
        margin-top: 40px;
    }

    .contact-title {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .contact-icon {
        font-size: 2rem;
        margin-right: 10px;
    }

    .contact-text {
        font-size: 1.5rem;
    }
</style>
<body>
    <header>
        <h1>Welcome to <span style="color: #ED3A85;">Eventify</span>!</h1>
    </header>

    <section>
        <h2>About Us</h2>
        <p>Eventify is a dynamic online platform that provides access to the latest information about exciting events in your region.</p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to gather and present a wide selection of cultural, artistic, sports, and entertainment events happening in the area. We aim to enable our users to have exceptional experiences, discover new passions, and create unforgettable moments.</p>
    </section>

    <section>
        <h2>Find the Perfect Event</h2>
        <p>At Eventify, you will always find an up-to-date list of events for which you can purchase tickets. Our website is carefully designed and user-friendly, ensuring convenient and hassle-free browsing.</p>
    </section>

    <section>
        <h2>Diverse Offerings</h2>
        <p>Whether you're a fan of live music concerts, art exhibitions in theaters and galleries, sports events at stadiums, or culinary festivals, Eventify has something exceptional for you.</p>
    </section>

    <section>
        <h2>Current Information</h2>
        <p>Our team constantly monitors the event scene to provide you with the latest information on current and upcoming attractions. You can rest assured that with Eventify, you won't miss any exciting events.</p>
    </section>

    <section>
        <h2>Convenient Ticket Purchases</h2>
        <p>We want your experience with Eventify to be not only satisfying but also convenient. That's why we offer secure and fast ticket purchasing methods. You can reserve your spot at an event in just a few simple steps, and our responsive customer service is always ready to assist you.</p>
    </section>

    <section>
        <h2>Eventify Community</h2>
        <p>Eventify is more than just a list of events. It's a community of culture and entertainment enthusiasts who share their passions and discover new inspirations. You can browse reviews, share your event experiences with others, and be a part of the growing Eventify community.</p>
    </section>

    <section >
        
        <h1 style=" color: #ED3A85; font-size: 50px; ">Contact Us!</h1>
        <div   class="contact-section">
            <div class="contact-info">
                <i class="fas fa-envelope contact-icon"></i>
                <span class="contact-text">contact@eventify.com</span>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone contact-icon"></i>
                <span class="contact-text">123-456-7890</span>
            </div>
            <div class="contact-info">
                <i class="fas fa-map-marker-alt contact-icon"></i>
                <span class="contact-text">123 Starowiślna, Cracov, Poland</span>
            </div>
        </div>
    </section>
</body>
>>>>>>> c2005571059f09513dcdb6316252f66e02f1337d
