@{
    ViewBag.Title = "About";
}


<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: Poppins, sans-serif;
    }

    h1 {
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h3 {
        color: #5CE1E6;
    }

    p {
        color: white;
        line-height: 1.5;
    }
    .border {
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
        margin: 30px;
    }

    span {
        color: #ED3A85;
    }

    .benefits {
        margin-bottom: 40px;
        background-color: #0B001A;
        color: white;
    }

    h1{
        font-weight: 900;
        font-size: 65px;
        text-align: center;
    }
    h2 {
        margin:20px 0;
        font-weight: 900;
        font-size: 40px;
    }
    p{
        font-size:20px;
    }
    .contact-section {
        text-align: center;
        margin-top: 40px;
    }

    .contact-title {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .contact-icon {
        font-size: 2rem;
        margin-right: 10px;
    }

    .contact-text {
        font-size: 1.5rem;
    }
</style>
<body>
    <header>
        <h1>Welcome to <span style="color: #ED3A85;">Eventify</span>!</h1>
    </header>

    <section>
        <h2>About Us</h2>
        <p>Eventify is a dynamic online platform that provides access to the latest information about exciting events in your region.</p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to gather and present a wide selection of cultural, artistic, sports, and entertainment events happening in the area. We aim to enable our users to have exceptional experiences, discover new passions, and create unforgettable moments.</p>
    </section>

    <section>
        <h2>Find the Perfect Event</h2>
        <p>At Eventify, you will always find an up-to-date list of events for which you can purchase tickets. Our website is carefully designed and user-friendly, ensuring convenient and hassle-free browsing.</p>
    </section>

    <section>
        <h2>Diverse Offerings</h2>
        <p>Whether you're a fan of live music concerts, art exhibitions in theaters and galleries, sports events at stadiums, or culinary festivals, Eventify has something exceptional for you.</p>
    </section>

    <section>
        <h2>Current Information</h2>
        <p>Our team constantly monitors the event scene to provide you with the latest information on current and upcoming attractions. You can rest assured that with Eventify, you won't miss any exciting events.</p>
    </section>

    <section>
        <h2>Convenient Ticket Purchases</h2>
        <p>We want your experience with Eventify to be not only satisfying but also convenient. That's why we offer secure and fast ticket purchasing methods. You can reserve your spot at an event in just a few simple steps, and our responsive customer service is always ready to assist you.</p>
    </section>

    <section>
        <h2>Eventify Community</h2>
        <p>Eventify is more than just a list of events. It's a community of culture and entertainment enthusiasts who share their passions and discover new inspirations. You can browse reviews, share your event experiences with others, and be a part of the growing Eventify community.</p>
    </section>

    <section>

        <h1 style=" color: #ED3A85; font-size: 50px; ">Contact Us!</h1>
        <div class="contact-section">
            <div class="contact-info">
                <i class="fas fa-envelope contact-icon"></i>
                <span class="contact-text">contact@eventify.com</span>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone contact-icon"></i>
                <span class="contact-text">123-456-7890</span>
            </div>
            <div class="contact-info">
                <i class="fas fa-map-marker-alt contact-icon"></i>
                <span class="contact-text">123 Starowiślna, Cracov, Poland</span>
            </div>
        </div>
    </section>
</body>