@{
    ViewBag.Title = "Eventify | Beauty of the events world";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")

<body>
    <section>
        <div style="display: flex; justify-content: center; align-content: center;">
            <div class="landing-page-container">
                <div>
                    Discover the beauty of the events world
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus nec arcu blandit, sodales nulla ac, posuere nulla. Donec eget aliquam purus, sit amet porta mi.
                </div>
                <button>
                </button>
            </div>

            <div class="landing-page-container">
                <img width="400" src="~/Image/landing-page-image.png" />
            </div>
        </div>
    </section>
</body>