
@{
    ViewBag.Title = "Shopping_cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Poppins, sans-serif;
        color: white;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }
    h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 100px;
    }
    section {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .event {
        position: relative;
        width: 50%;
        height: auto;
        background-color: #f2f2f2;
        border: 1px solid #0B001A;
        margin-right: 25px;
        margin-bottom: 30px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        flex-basis: 50%;
        flex-shrink: 0;
    }

    .event img {
        width: 100%;
        height: 200px;
        display: block;
        margin: 0;
        transition: filter 0.3s ease;
    }

    .event:hover img {
        filter: brightness(60%);
    }

    .event .caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        font-weight: bold;
        font-size: 20px;
        color: #5CE1E6;
        text-transform: uppercase;
        cursor: pointer;
    }

    .event:hover .caption {
        display: block;
        color: #5CE1E6;
    }

    .event .description {
        padding-top: 5px;
        color: #777;
        background-color: #ED3A85;
    }

    .event div {
        color: white;
    }

    .description {
        color: white;
        font-weight: 900;
        text-transform: uppercase;
    }
</style>

<body>
    <h1 style="font-size: 40px; text-transform: uppercase; color: white; font-weight: 900;">Your tickets</h1>
    <section class="wrap">
        <div class="event">
            <img src="https://images.shiksha.com/mediadata/images/articles/1583747992phpzaxKKK.jpeg" alt="Wydarzenie 3">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">More details</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>
        <div class="event">
            <img src="https://jandevents.com/wp-content/uploads/jand-party.jpg" alt="Wydarzenie 4">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">More details</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://i.pinimg.com/736x/1d/6b/b0/1d6bb07de56417b386a75bb6591f615e.jpg" alt="Wydarzenie 5">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">More details</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://i.pinimg.com/750x/76/7e/ae/767eaeec66c44b3eae020c5fbea51c71.jpg" alt="Wydarzenie 6">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">More details</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>
    </section>
</body>
 
